# Godot
.godot/

# Builds
/build/
/android/build/build/
/android/build/.gradle/
/android/build/libs/
/android/build/assetPackInstallTime/src/main/assets/
/android/build/assetPackInstallTime/build/
/android/build/src/main/assets/
/android/build/src/debug/
/android/build/src/release/
/android/build/local.properties

# Chaves de assinatura (nunca versionar)
*.keystore
*.jks

# Python
__pycache__/
